# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
manage-parent/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_11.xml
manage-parent/.idea/libraries/Maven__com_alibaba_druid_unknown.xml
manage-parent/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_11.xml
manage-parent/.idea/
*.iml
